* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding: 5px;
  background: #d3e4fc;
  color: #253238;
  flex-direction: row;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  flex-direction: row;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container div {
  background: #e7e5e1;
  padding: 10px;
  float: auto;
  flex-direction: auto;
  border-radius: auto;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
  text-align: full-width;
  color: #000000;
  justify-content: center;
  justify-self: center;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f8f2f2;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #faf9f9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header {
  background: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

section {
  padding: 20px;
  background-color: #d8cdcd;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background-color: bisque;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  text-size-adjust: inherit;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

.logoSiDongo {
  display: block;
  margin: 0 auto 20px;
  width: auto;
  text-align: center;
  baseline-shift: inherit;
  border-image: round;
}

.logoDamhca {
  display: block;
  margin: 0 auto 20px;
  width: auto;
  text-align: center;
  baseline-shift: inherit;
  border-image: round;
}

section2 {
  display: block;
  font-size-adjust: inherit;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  text-align: center;
  background-color: #d8cdcd;
  gap: 10px;
  padding: 10px;
}

section3 {
  display: block;
  font-size-adjust: inherit;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  text-align: center;
  background-color: #d8cdcd;
}

box {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

widget {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

mobileresponsive {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
